I found this example at [Flattening JSON objects in Python](https://medium.com/@amirziai/flattening-json-objects-in-python-f5343c794b10#.x9ols7deq)
by Amir Ziai

I modified some things to help me understand

In [1]:
sample_object_01 = {'Name':'John', 'Location':{'City':'Los Angeles','State':'CA'}}

In [2]:
from pandas.io.json import json_normalize

In [3]:
json_normalize(sample_object_01)

  Location.City Location.State  Name
0   Los Angeles             CA  John

Here is and embeded JSON array

In [19]:
sample_object2 = {
                    'Name':'John',
                    'Location':{'City':'Los Angeles','State':'CA'},
                    'Hobbies':['Running', 'Music', 'Programming']
                }

In [21]:
json_normalize(sample_object2)

                         Hobbies Location.City Location.State  Name
0  [Running, Music, Programming]   Los Angeles             CA  John

In [22]:
def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[str(name[:-1])] = str(x)

    flatten(y)
    return out

In [25]:
flat = flatten_json(sample_object2)
flat

{'Hobbies_0': 'Running',
 'Hobbies_1': 'Music',
 'Hobbies_2': 'Programming',
 'Location_City': 'Los Angeles',
 'Location_State': 'CA',
 'Name': 'John'}

In [26]:
json_normalize(flat)

  Hobbies_0 Hobbies_1    Hobbies_2 Location_City Location_State  Name
0   Running     Music  Programming   Los Angeles             CA  John